[Unit]
AssertPathExists=/usr/bin/onemorebeer-ui

[Service]
WorkingDirectory=~
ExecStart=/usr/bin/onemorebeer-ui --web
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
